*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body
{
    background-color: #66e99c;
}


/*Cuerpo*/

#cuerpo {
    position: relative;
    width: 100%;
    height: 100vh;
}

.navegacion{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(52, 131, 104);
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.navegacion .nav a {
    margin-right: 50px;
    font-family: monospace;
    font-size: 35px;
    text-transform: uppercase;
    text-decoration:none;
    color: rgb(0, 0, 0);

}
.navegacion .nav a:hover{
    color: rgb(0, 0, 0);
}

.navegacion h2{
    color: rgb(3, 78, 26);
    font-size: 30px;
    font-family: arial;
    text-transform: uppercase;
    margin-left: 20px;
}

.navegacion img{
    margin: 50px;
    width: 80px;
}

.navegacion .nav a:hover{
    color: rgb(0, 255, 136);;
}
.box{
    width: 400px;
    min-height: 400px;
    background-color: rgb(43, 122, 109);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}

.formulario{
    position:relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.formulario h2{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.formulario h2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

.formulario .input{
    width: 100%;
    margin-top: 20px;
}



.formulario .input .input [type="submit"]{
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.olvidar{
    margin-top: 5px;
    color: #fff;
}

.olvidar a{
    color: #fff;
    font-weight: 600;
}

@media only screen and (max-width: 760px){
    .navegacion{
        background-color: rgb(52, 131, 104);
        width: 100%;
        border-radius: 20px;
    }
    .navegacion img{
            width: 80px;
            margin: 30px;
            padding: 10px;
            margin-left: 10px;
    }
    .navegacion h2{
         font-size: 20px;
         margin-left: 0px;
    }
    .box{
        position: relative;
        width: 200px;
        min-height: 200px;
        background-color: rgb(43, 122, 109);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-left: 100px;
        margin-top: 80px;
    }


}




